@background: #847577;

@background-light: lighten(@background, 5%);

@border: #DEB190;

@text: #FFFAE2;

@font-face {
  font-family: 'Gotham';
  src: url('font/gotham-rounded-medium.woff') format('woff');
}

body {
  background-color: @background;
}

div.inline {
  display: table-cell;
}

.status {
  font-family: sans-serif;
  margin: 5px auto;
  display: table;
  table-layout: fixed;
}

.status-text{
  border: 1px solid @background-light;
  background-color: @background;
  border-radius: 2px;
  margin: 0 4px 0 0;
  text-align: center;
  padding: 5px;
  color: @text;
}

.status-count{
  border: 1px solid @background-light;
  background-color: @background;
  border-radius: 2px;
  margin: 0 0 0 4px;
  text-align: center;
  padding: 5px;
  color: @text;
}

.sudoku-wrapper {
    display: block;
    background-color: @background-light;
    margin: auto;
    border-radius: 4px;
}

.grid {
    fill: @background;
    border-radius: 2px;
    stroke: @border;
    stroke-width: 2;
}

.grid:hover {
  fill: @background-light;
}

.box {
    border-radius: 2px;
    stroke: @border;
    stroke-width: 5;
  }

text {
    font-family: 'Gotham', sans-serif;
    text-anchor: middle;
    fill: @text;
}
.container {
}