@font-face {
  font-family: 'Gotham';
  src: url('font/gotham-rounded-medium.woff') format('woff');
}
body {
  margin: 0;
  background-color: #847577;
}
a,
a:link,
a:visited {
  cursor: pointer;
  color: rgba(255, 250, 226, 0.95);
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 5px auto;
}
h1,
h2,
h3 {
  color: rgba(255, 250, 226, 0.95);
  font-family: sans-serif;
  text-align: center;
  margin: 5px auto;
}
div.inline {
  display: table-cell;
}
.center {
  font-family: sans-serif;
  margin: 5px auto;
  display: table;
  table-layout: fixed;
}
.inline-left {
  border: 1px solid #9c9091;
  background-color: #847577;
  border-radius: 2px;
  margin: 0 4px 0 0;
  text-align: center;
  padding: 5px;
  color: rgba(255, 250, 226, 0.95);
}
.inline-right {
  border: 1px solid #9c9091;
  background-color: #847577;
  border-radius: 2px;
  margin: 0 0 0 4px;
  text-align: center;
  padding: 5px;
  color: rgba(255, 250, 226, 0.95);
}
.sudoku-wrapper {
  display: block;
  background-color: #9c9091;
  margin: auto;
  border-radius: 4px;
}
.grid {
  fill: #847577;
  border-radius: 2px;
  stroke: #deb190;
  stroke-width: 2;
}
.grid.empty {
  fill: #906975;
}
.grid:hover {
  fill: #9d5c65;
}
.btn {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  background-color: #9d5c65;
}
.box {
  border-radius: 2px;
  stroke: #deb190;
  stroke-width: 5;
}
text {
  font-family: 'Gotham', sans-serif;
  fill: rgba(255, 250, 226, 0.95);
}
text.number {
  font-size: 25px;
  text-anchor: middle;
}
text.hint {
  font-size: 12px;
  text-anchor: start;
}
